<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>编程思想.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D239C3A01F35C6EB00490946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D239C3B91F35C6EB00490946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D239C3C41F35C6EB00490946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
